body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    height: 25px;
    width: 25px;
}

button {
    height: 30px ;
    width: 100px;
}

.dashboard-icon {
    width: 30px;
    height: 30px;
    padding-left: 40px;
    

}

.sidebar{
    background-color: #14b8a6;
    grid-column: 1;
    grid-row: 1/5;
    padding-right: 20px;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.dashboard-top {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    
}

.dashboard-top > h1 {
    padding-left: 5px;
}

.dashboard-top > img, .dashboard-top > h1 {
    justify-self: start;
    align-self: center; 
}

.dashboard-list-one > .home{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/home.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}

.dashboard-list-one > .profile{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/account.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    
}

.dashboard-list-one > .messages{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/message-text.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-one > .history{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/history.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-one > .task{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/folder-multiple.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-one > .communities{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/account-group.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-two > .settings{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/cog-outline.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-two > .support{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/face-agent.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.dashboard-list-two > .privacy{
    list-style: none;
    padding: 10px 30px;
    background-image: url(./icons/security.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

.header{
   grid-row: 1/2;
   grid-column:2/5;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto 1fr;
   padding: 15px
    
}

.header > label{
    grid-row: 1;
    grid-column: 1;
}

.search{
    display: flex;
    gap: 15px;
}

input{
    width: 600px;
}

.user-main-container{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.user-main-container-two > h1 {
    font-size: 1.5em;
}

.user-main-container-two {
    display: flex;
    flex-direction: column;
}

.user-main-container > img{
    height: 60px;
    width: 60px;
}

.user-main-secondary{
    grid-column: 2;
    grid: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.buttons{
    grid-row: 2; 
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

button{
    background-color: #14b8a6;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.main-dashboard{
    background-color: #f0fdfa;
    grid-column: 2/5;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    padding: 20px 15px 15px 15px;
}

.dashboard-heading{
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;
    

}
.project-1 {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    box-shadow: 6px 5px 13px lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
}

.projects{
    padding: 10px;
    box-shadow: 6px 5px 13px lightgray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
    
}

.project-icons{
    align-self: flex-end;
}

.announcements{
    grid-column: 3/4;
    grid-row: 1/2;
    box-shadow: 6px 5px 13px lightgray;
    border-radius: 25px;
    padding: 20px;
}

.announcements > div {
    font-weight: bold;
}


.announcements-list {
    list-style: none;
}

.announcements-list > p {
    font-size: 12px;;
}

.trending {
    grid-column: 3/4;
    grid-row: 2/3;
    box-shadow: 6px 5px 13px lightgray;
    border-radius: 25px;
    padding:20px;
    
}

.trending > div{
    font-weight: bold;
}

.trending-topics > img {
    height: 40px;
    width: 40px;
}

.trending-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.trending-topics{
    display: flex;
    gap: 15px;
    
}

.side-tabs{
    grid-column: 3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.projects-grid{
    grid-column: 1/3;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

